@media screen and (min-width: 200px) and (max-width: 740px) {
    body {
        /*Display stuff*/
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        /*Box model stuff*/
        /* background-image: url("Banco Imagens/SI_Pokemon_image1280w.png"); */
        opacity: 0.9;
    }

    #header {
        display: none;
    }

    #showMessage {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    #modalContainer {
        display: none;
        border: solid 1px;
        width: 500px;
        border-radius: var(--radius-2);
    }

    #textoModal {
        display: none;
        color: rgb(0, 0, 0);
        font-size: 25px;
    }

    #centralSection {
        /*Display stuff*/
        display: grid;
        grid-column: 1;
        grid-row: 1;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        align-self: center;
        justify-self: center;
        /*Box model stuff*/
        height: 100%;
        width: 100%;
        border: 2px solid#242427;
        background-color: rgb(203, 53, 53);
        background: linear-gradient(180deg, #f30b0b, #520f0f);
    }

    #pokeballImg {
        grid-column: 1;
        grid-row: 1;
        width: 50px;
        height: 50px;

    }

    #imagem {
        /*Display stuff*/
        grid-column: 2;
        grid-row: 2;
        /*Box model stuff*/
        width: 150px;
        height: 150px;
        border: 2px solid;
        background-color: white;
        border-radius: var(--radius-2);
        align-self: center;
        justify-self: center;
    }

    #imagem img {
        width: 100%;
        /* Define a largura da imagem para preencher a div */
        height: 100%;
        /* Define a altura da imagem para preencher a div */
    }

    #select {
        /*Display stuff*/
        grid-column: 2;
        grid-row: 4;
        /*Box model stuff*/
        width: 170px;
        height: 20px;
        /*Typography stuff*/
        text-align: center;
    }

    #inputNumber {
        /*Display stuff*/
        grid-column: 2;
        grid-row: 4;
        align-self: flex-end;
        justify-self: center;
        /*Box model stuff*/
        width: 60px;
        height: 20px;
        text-align: center;

    }

    #inputName {
        /*Display stuff*/
        grid-column: 2;
        grid-row: 4;
        align-self: flex-end;
        justify-self: center;
        /*Box model stuff*/
        width: 100px;
        height: 20px;
    }

    #name {
        /*Display stuff*/
        grid-column: 2;
        grid-row: 3;
        align-self: center;
        justify-self: center;
        /*Box model stuff*/
        width: 120px;
        height: 20px;
        border: solid 2px;
        /*Typography stuff*/
        text-align: center;
        background-color: white;
        border-radius: var(--radius-1);

    }

    #enviar {
        /*Display stuff*/
        grid-column: 2;
        grid-row: 5;
        /*Box model stuff*/
        height: 25px;
        align-self: center;
    }

    /* ------------------------------ RIGHT SECTION ----------------------------- */
    #rightSection {
        /*Display stuff*/
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column: 1;
        grid-row: 2;
        align-self: center;
        justify-self: center;
        /*Box model stuff*/
        height: 100%;
        width: 100%;
        border: 2px solid#242427;
        background: linear-gradient(180deg, #f30b0b, #520f0f);

    }

    #type {
        /*Display stuff*/
        grid-column: 1;
        grid-row: 2;
        align-self: center;
        justify-self: center;
        /*Box model stuff*/
        width: 120px;
        height: 20px;
        margin-left: 30px;
        border: 2px solid;
        /*Typography stuff*/
        text-align: center;
        background-color: white;
    }

    #league {
        /*Display stuff*/
        grid-column: 1;
        grid-row: 1;
        align-self: center;
        justify-self: center;
        /*Box model stuff*/
        width: 120px;
        height: 20px;
        margin-left: 30px;
        border: 2px solid;
        /*Typography stuff*/
        text-align: center;
        background-color: white;
    }

    #typeResult {
        /*Display stuff*/
        grid-column: 2;
        grid-row: 2;
        align-self: center;
        justify-self: left;
        /*Box model stuff*/
        width: 120px;
        height: 20px;
        margin-left: 30px;
        border: 2px solid;
        /*Typography stuff*/
        text-align: center;
        background-color: white;
    }

    .menu {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .show {
        display: block;
    }
}