body {
    /*Display stuff*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    /*Box model stuff*/
    height: 100vh;
}

#centralSection {
    /*Display stuff*/
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    /*Box model stuff*/
    width: 400px;
    height: 400px;
    border: 2px solid#242427;
    background-color: rgb(203, 53, 53);
}


#imagem {
    /*Display stuff*/
    grid-column: 2;
    grid-row: 2;
    /*Box model stuff*/
    width: 150px;
    height: 150px;
    border: 2px solid;
    background-color: white;
    border-radius: var(--radius-2);
    align-self: center;
    justify-self: center;
}

#imagem img {
    width: 100%;
    /* Define a largura da imagem para preencher a div */
    height: 100%;
    /* Define a altura da imagem para preencher a div */
}

#select{
/*Display stuff*/
    grid-column: 2;
    grid-row: 4;
/*Box model stuff*/
    width: 170px;
    height: 20px;
/*Typography stuff*/
    text-align: center;
}
#inputNumber {
    /*Display stuff*/
    grid-column: 2;
    grid-row: 4;
    align-self: flex-end;
    justify-self: center;
    /*Box model stuff*/
    width: 60px;
    height: 20px;
    text-align: center;
    
}

#inputName {
    /*Display stuff*/
    grid-column: 2;
    grid-row: 4;
    align-self: flex-end;
    justify-self: center;
    /*Box model stuff*/
    width: 100px;
    height: 20px;
}

#name {
    /*Display stuff*/
    grid-column: 2;
    grid-row: 3;
    align-self: center;
    justify-self: center;
    /*Box model stuff*/
    width: 120px;
    height: 20px;
    border: solid 2px;
    /*Typography stuff*/
    text-align: center;
    background-color: white;
    border-radius: var(--radius-1);

}

#enviar {
    /*Display stuff*/
    grid-column: 2;
    grid-row: 5;
    /*Box model stuff*/
    height: 25px;
    align-self: center;
}

#rightSection {
    /*Display stuff*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column: 3;
    grid-row: 2;
    /*Box model stuff*/
    width: 400px;
    height: 400px;
    border: 2px solid#242427;
}

#type {
    /*Display stuff*/
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    /*Box model stuff*/
    width: 120px;
    height: 20px;
    margin-left: 30px;
    border: 2px solid;
    /*Typography stuff*/
    text-align: center;
}

#league {
    /*Display stuff*/
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    /*Box model stuff*/
    width: 120px;
    height: 20px;
    margin-left: 30px;
    border: 2px solid;
    /*Typography stuff*/
    text-align: center;
}

#typeResult {
    /*Display stuff*/
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: left;
    /*Box model stuff*/
    width: 120px;
    height: 20px;
    margin-left: 30px;
    border: 2px solid;
    /*Typography stuff*/
    text-align: center;
}
