@media screen and (min-width: 741px) and (max-width: 1500px) {

    body {
        /*Display stuff*/
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        align-items: center;
        justify-content: center;
        /*Box model stuff*/
        height: 100vh;
        background-image: url("Banco Imagens/SI_Pokemon_image1280w.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.9;
    }

    #header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1;
        grid-column: 2;
    }

    #showMessage {
        height: 25px;
        width: 100px;
        justify-self: center;
    }

    #modalContainer {
        border: solid 1px;
        width: 500px;
        border-radius: var(--radius-2);
    }

    #textoModal {
        color: rgb(0, 0, 0);
        font-size: 25px;
    }

    #centralSection {
        /*Display stuff*/
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column: 2;
        grid-row: 2;
        align-self: center;
        justify-self: center;
        /*Box model stuff*/
        width: 400px;
        height: 400px;
        border: 2px solid#242427;
        background-color: rgb(203, 53, 53);
        background: linear-gradient(180deg, #f30b0b, #520f0f);
    }

    #pokeballImg {
        position: relative;
        animation: rolar 5s infinite;
        grid-column: 1;
        grid-row: 1;
        width: 50px;
        height: 50px;
    }

    @keyframes rolar {
        0% {
            left: 0;
            transform: rotate(0);
        }

        50% {
            left: 49.5vh;
            transform: rotate(720deg);
        }

        100% {
            left: 0;
            transform: rotate(0);
        }
    }


    #imagem {
        /*Display stuff*/
        grid-column: 2;
        grid-row: 2;
        /*Box model stuff*/
        width: 150px;
        height: 150px;
        border: 2px solid;
        background-color: white;
        border-radius: var(--radius-2);
        align-self: center;
        justify-self: center;
    }

    /* @keyframes encoImagePoke{
        0% {
            transform: scale(1);
        }
        
        50% {
            transform: scale(0);
        }
        
        100% {
            transform: scale(1);
        }
    } */

    #imagem img {
        width: 100%;
        /* Define a largura da imagem para preencher a div */
        height: 100%;
        /* Define a altura da imagem para preencher a div */
    }

    #select {
        /*Display stuff*/
        grid-column: 2;
        grid-row: 4;
        /*Box model stuff*/
        width: 170px;
        height: 20px;
        /*Typography stuff*/
        text-align: center;
    }

    #inputNumber {
        /*Display stuff*/
        grid-column: 2;
        grid-row: 4;
        align-self: flex-end;
        justify-self: center;
        /*Box model stuff*/
        width: 60px;
        height: 20px;
        text-align: center;
    }

    /* #inputNumber.valid {
        border-color: green;
        transition: all 0.3s ease-in-out;
        color: aquamarine;
    }

    #inputNumber.invalid {
        border-color: red;
        background-color: #520f0f;
        transition: all 0.3s ease-in-out;
    } */

    #inputName {
        /*Display stuff*/
        grid-column: 2;
        grid-row: 4;
        align-self: flex-end;
        justify-self: center;
        /*Box model stuff*/
        width: 100px;
        height: 20px;
    }

    #name {
        /*Display stuff*/
        grid-column: 2;
        grid-row: 3;
        align-self: center;
        justify-self: center;
        /*Box model stuff*/
        width: 120px;
        height: 20px;
        border: solid 2px;
        /*Typography stuff*/
        text-align: center;
        background-color: white;
        border-radius: var(--radius-1);

    }

    #enviar {
        /*Display stuff*/
        grid-column: 2;
        grid-row: 5;
        /*Box model stuff*/
        height: 25px;
        align-self: center;
        border-radius: var(--radius-2);
    }

    #enviar:hover {
        background-color: #dbdd7f;
        color: #000000;
        transition: all 0.2s ease-in-out;
    }

    #rightSection {
        /*Display stuff*/
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column: 3;
        grid-row: 2;
        align-self: center;
        justify-self: center;
        /*Box model stuff*/
        width: 400px;
        height: 400px;
        border: 2px solid#242427;
        background: linear-gradient(180deg, #f30b0b, #520f0f);

    }

    #type {
        /*Display stuff*/
        grid-column: 1;
        grid-row: 2;
        align-self: center;
        justify-self: center;
        /*Box model stuff*/
        width: 120px;
        height: 20px;
        margin-left: 30px;
        border: 2px solid;
        /*Typography stuff*/
        text-align: center;
        background-color: white;
    }

    #league {
        /*Display stuff*/
        grid-column: 1;
        grid-row: 1;
        align-self: center;
        justify-self: center;
        /*Box model stuff*/
        width: 120px;
        height: 20px;
        margin-left: 30px;
        border: 2px solid;
        /*Typography stuff*/
        text-align: center;
        background-color: white;
    }

    #typeResult {
        /*Display stuff*/
        grid-column: 2;
        grid-row: 2;
        align-self: center;
        justify-self: left;
        /*Box model stuff*/
        width: 120px;
        height: 20px;
        margin-left: 30px;
        border: 2px solid;
        /*Typography stuff*/
        text-align: center;
        background-color: white;
    }
}

.moreAboutPoke{
    color: rgb(0, 0, 0);
    word-wrap: break-word
}
.moreAboutPoke:link {
    color: blue; /* Cor do link não visitado */
}

.moreAboutPoke:visited {
    color:black /* Cor do link visitado */
}

.moreAboutPoke:hover {
    color: white; /* Cor do link quando o mouse está sobre ele */
}

/* ----------------------------- Próximos Passos ---------------------------- */

/* Criar a low section com menus responsivos, com links para algo de pokemon */
/* Alterar largura para porcentagens  
        ->Tamanho pode ser definido em px no html e depois alterado em REM no media Querry */
/* Arrumar giro pokebolla */
/* Entender a construção do menu responsivo */
/* Arrumar tamanho imagem de fundo */
/* Travar posição meu responsivo quando clicado */
/* Usar bibliotecas */

/* -------------------------------- Anotações ------------------------------- */

/* Input .valid/.invalid não está funcionando */